# fly.toml app configuration file generated for let-e-aprender on 2026-02-05T13:43:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'let-e-aprender'
primary_region = 'cdg'

[build]

[[mounts]]
  source = 'appdata'
  destination = '/data'

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpus = 1
  memory_mb = 1024

[env]
  DATABASE_PATH = "/data/"
